
.ccc {
  height: 400px;
  background-color: #007acc;
  border-radius: 40px;
  width: 80rem;
  height: 15rem;
  background-image: url(https://th.bing.com/th/id/OIG.ey_KYrwhZnirAkSgDhmg?pid=ImgGn);
  background-repeat: no-repeat;
  background-size: cover;
}
