// Define variables for reusable styles
$primaryColor: #000;
$secondaryColor: #2ecc71;



.logo {
  a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
  }
}

.tabs {
  display: flex;

  .tab {
    // margin-right: 20px;
    a {
      text-decoration: none;
      color: #000;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      padding: 0 1rem;
      text-transform: uppercase;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.tools {
  display: flex;
  align-items: center;
  gap: 1rem;

  .searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
    margin-right: 10px;
    color: #000;
    // color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    // background-color: #000;
    input {
      border: none;
      height: 2rem;
      width: 16rem;
      border-radius: 4px;
      font-size: 16px;
      padding-left: 20px;
    }
  }

  .profilePicture {
    a {
      text-decoration: none;
      color: #000;
      font-size: 1rem;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}
