.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inner {
  max-width: 1920px;
  // background-color: #e74032;

  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  // min-width: none;
  // background-color: #65703b;
  

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 36px;
    }
    .newpost {
      display: flex;
      flex-direction: column;
      height: 100px;
      width: 90%;
      background-color: #5ec2e0;
      // margin: 20px 30px;
      border-radius: 40px;
      align-items: center;
      justify-content: center;
      font-size: 48px;
    }

    .board {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

// .grid {
//   display: grid;
//   grid-template-columns: 2fr;
//   align-content: start;
//   gap: 1.6rem;
//   width: 100vw;
//   height: 100vh;
//   .lside {
//     width: 20%;
//     height: 100%;
//     background-color: #ffd300;
//
//   }
//   .main {
//     width: 60%;
//     height: 100%;
//     background-color: #80b3ff;

//     .inner {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       // align-content: center;
//       // display: grid;
//       // grid-template-columns: repeat(2, 1fr);
//       // place-items: center;
//       // gap: 70px 0px;
//       // margin: 0 auto;
//       // margin-top: 35px;
//       // .c1 {
//       //   width: 90%;
//       //   height: 300px;
//       //   background-color: #fa7e7f;
//       // }
//     }
//   }
//   .rside {
//     width: 20%;
//     height: 100%;
//     background-color: #8dd35f;
//     .b1 {
//       width: 90%;
//       height: 50%;
//       background-color: #4c6238;
//     }
//     .b2 {
//       width: 90%;
//       height: 50%;
//       background-color: #299b48;
//     }
//   }
// }
