.container {
  width: 95%;
  height: 200px;
  background-color: #007acc;
  border-radius: 40px;
  max-width: 1920px;
  .inner {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
}
